<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tahoe</key>
	<dict>
		<key>Text View</key>
		<dict>
			<key>inset</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>2</integer>
			</dict>
			<key>normalTextColor</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>value</key>
				<string>labelColor</string>
			</dict>			<key>placeholderTextColor</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>value</key>
				<string>placeholderTextColor</string>
			</dict>			<key>backgroundColor</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>value</key>
				<string>textBackgroundColor</string>
			</dict>		</dict>
		<key>Background View</key>
		<dict>
			<key>contentBorderPadding</key>
			<integer>23</integer>
			<key>backgroundColor</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>value</key>
				<string>windowBackgroundColor</string>
			</dict>			<key>dividerColor</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>value</key>
				<string>separatorColor</string>
			</dict>		</dict>
	</dict>
</dict>
</plist>
