<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tahoe</key>
	<dict>
		<key>channelViewOverlayDefaultBackgroundColor</key>
		<dict>
			<key>type</key>
			<integer>3</integer>
			<key>value</key>
			<string>textBackgroundColor</string>
		</dict>
		<key>defaultWindowSize</key>
		<dict>
			<key>width</key>
			<real>800</real>
			<key>height</key>
			<real>474</real>
		</dict>
	</dict>
</dict>
</plist>
