<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSRequiresNativeExecution</key>
	<false/>
	<key>CFBundleDisplayName</key>
	<string>Glasstual</string>
	<key>CFBundleIdentifier</key>
	<string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Glasstual is an independent fork of Textual, continuing it on macOS 26 and later. Copyright © 2010 - 2026 Codeux Software, LLC and respective contributors.</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>NSMainNibFile</key>
	<string>TXCMainMenu</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSPrincipalClass</key>
	<string>TXApplication</string>
	<key>NSContactsUsageDescription</key>
	<string>${PRODUCT_NAME} accesses contacts to automatically populate certain forms with your name and/or e-mail address. Access to this information is not required.</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scpt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Glasstual IRC Client Script</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>TPCResourceManagerDocumentTypeImporter</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bundle</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Glasstual IRC Client Extension</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
			<key>NSDocumentClass</key>
			<string>TPCResourceManagerDocumentTypeImporter</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Internet Relay Chat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>irc</string>
				<string>ircs</string>
				<string>glasstual</string>
			</array>
		</dict>
	</array>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>SUEnableDownloaderService</key>
	<false/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUScheduledCheckInterval</key>
	<string>345600</string>
</dict>
</plist>
