<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Plugin Approvals</key>
	<integer>0</integer>
	<key>TXRunCount</key>
	<integer>0</integer>
	<key>TXRunTime</key>
	<integer>0</integer>
	<key>TextField</key>
	<integer>1</integer>
	<key>Window -&gt; Main Window </key>
	<integer>1</integer>
	<key>Text Input Prompt Suppression -&gt; </key>
	<integer>1</integer>
	<key>NSWindow Frame -&gt; Internal (v3) -&gt; </key>
	<integer>1</integer>
	<key>Internal Theme Settings Key-value Store -&gt; </key>
	<integer>0</integer>
	<key>Theme -&gt; Font Name -&gt; Did Not Exist During Last Sync</key>
	<integer>0</integer>
	<key>Theme -&gt; Name -&gt; Did Not Exist During Last Sync</key>
	<integer>0</integer>
	<key>Theme -&gt; Channel Font Preference Enabled</key>
	<integer>0</integer>
	<key>Theme -&gt; Nickname Format Preference Enabled</key>
	<integer>0</integer>
	<key>Theme -&gt; Timestamp Format Preference Enabled</key>
	<integer>0</integer>
	<key>File Transfers -&gt; File Transfer Download Folder Bookmark</key>
	<integer>0</integer>
	<key>LogTranscriptDestinationSecurityBookmark_5</key>
	<integer>0</integer>
	<key>TVCLogControllerHistoricLogFileSavePath_v3</key>
	<integer>0</integer>
</dict>
</plist>
