<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.adiumX.AutoHyperlinks.permittedSchemesAny</key>
	<integer>0</integer>
	<key>com.adiumX.AutoHyperlinks.permittedSchemesDefault</key>
	<integer>0</integer>
	<key>com.adiumX.AutoHyperlinks.permittedSchemes</key>
	<integer>0</integer>
	<key>NSWindow Frame -&gt; Internal (v3) -&gt; </key>
	<integer>1</integer>
	<key>SUEnableAutomaticChecks</key>
	<integer>0</integer>
	<key>SUHasLaunchedBefore</key>
	<integer>0</integer>
	<key>SULastCheckTime</key>
	<integer>0</integer>
	<key>SUScheduledCheckInterval</key>
	<integer>0</integer>
	<key>SUSendProfileInfo</key>
	<integer>0</integer>
	<key>SUUpdateGroupIdentifier</key>
	<integer>0</integer>
</dict>
</plist>
