<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Appearance</key>
	<integer>0</integer>
	<key>ApplicationCTCPVersionMasquerade</key>
	<integer>0</integer>
	<key>ApplyCommandToAllConnections -&gt; amsg</key>
	<integer>0</integer>
	<key>ApplyCommandToAllConnections -&gt; away</key>
	<integer>0</integer>
	<key>ApplyCommandToAllConnections -&gt; clearall</key>
	<integer>0</integer>
	<key>ApplyCommandToAllConnections -&gt; nick</key>
	<integer>0</integer>
	<key>AutojoinChannelOnInvite</key>
	<integer>0</integer>
	<key>AutojoinDelayBetweenChannelJoins</key>
	<integer>0</integer>
	<key>AutojoinDelayAfterIdentification</key>
	<integer>0</integer>
	<key>AutojoinMaximumChannelJoinCount</key>
	<integer>0</integer>
	<key>AutomaticallyAddScrollbackMarker</key>
	<integer>0</integer>
	<key>AutomaticallyDisconnectForSleepMode</key>
	<integer>0</integer>
	<key>AutomaticallyDetectHighlightSpam</key>
	<integer>0</integer>
	<key>AutomaticallyFilterUnicodeTextSpam</key>
	<integer>0</integer>
	<key>AutomaticallyReloadCustomThemesWhenTheyChange</key>
	<integer>0</integer>
	<key>Blowfish Encryption Extension -&gt; Enable Service</key>
	<integer>0</integer>
	<key>ChannelNavigationIsServerSpecific</key>
	<integer>0</integer>
	<key>ChannelOperatorDefaultLocalization -&gt; Kick Reason</key>
	<integer>0</integer>
	<key>ChannelViewArrangement</key>
	<integer>0</integer>
	<key>CommandReturnSendsMessageAsAction</key>
	<integer>0</integer>
	<key>ConfirmApplicationQuit</key>
	<integer>0</integer>
	<key>ControlEnterSendsMessage</key>
	<integer>0</integer>
	<key>ConversationTrackingIncludesUserModeSymbol</key>
	<integer>0</integer>
	<key>CopyTextSelectionOnMouseUp</key>
	<integer>0</integer>
	<key>com.adiumX.AutoHyperlinks.permittedSchemesAny</key>
	<integer>0</integer>
	<key>com.adiumX.AutoHyperlinks.permittedSchemesDefault</key>
	<integer>0</integer>
	<key>com.adiumX.AutoHyperlinks.permittedSchemes</key>
	<integer>0</integer>
	<key>DefaultBanCommandHostmaskFormat</key>
	<integer>0</integer>
	<key>DefaultIdentity -&gt; AwayNickname</key>
	<integer>0</integer>
	<key>DefaultIdentity -&gt; Nickname</key>
	<integer>0</integer>
	<key>DefaultIdentity -&gt; Realname</key>
	<integer>0</integer>
	<key>DefaultIdentity -&gt; Username</key>
	<integer>0</integer>
	<key>DestinationOfNonserverNotices</key>
	<integer>0</integer>
	<key>DisableRemoteNicknameColorHashing</key>
	<integer>0</integer>
	<key>DisableSidebarTranslucency</key>
	<integer>0</integer>
	<key>DisplayDockBadges</key>
	<integer>0</integer>
	<key>DisplayEventInLogView -&gt; Date Changes</key>
	<integer>0</integer>
	<key>DisplayEventInLogView -&gt; Inline Media</key>
	<integer>0</integer>
	<key>DisplayEventInLogView -&gt; Join, Part, Quit</key>
	<integer>0</integer>
	<key>DisplayPublicMessageCountInDockBadge</key>
	<integer>0</integer>
	<key>DisplayServerMessageOfTheDayOnConnect</key>
	<integer>0</integer>
	<key>DisplayUserListNoModeSymbol</key>
	<integer>0</integer>
	<key>File Transfers -&gt; File Transfer Download Folder Bookmark</key>
	<integer>0</integer>
	<key>File Transfers -&gt; File Transfer IP Address Detection Method</key>
	<integer>0</integer>
	<key>File Transfers -&gt; File Transfer IP Address Detection Prefers 3rd-party Sources</key>
	<integer>0</integer>
	<key>File Transfers -&gt; File Transfer Port Range End</key>
	<integer>0</integer>
	<key>File Transfers -&gt; File Transfer Port Range Start</key>
	<integer>0</integer>
	<key>File Transfers -&gt; File Transfer Request Reply Action</key>
	<integer>0</integer>
	<key>File Transfers -&gt; File Transfer Requests Use Reverse DCC</key>
	<integer>0</integer>
	<key>File Transfers -&gt; Idle System Sleep Prevented During File Transfer</key>
	<integer>0</integer>
	<key>FocusSelectionOnMessageCommandExecution</key>
	<integer>0</integer>
	<key>Highlight List -&gt; Excluded Matches</key>
	<integer>0</integer>
	<key>Highlight List -&gt; Primary Matches</key>
	<integer>0</integer>
	<key>IRCopDefaultLocalizaiton -&gt; G:Line Reason</key>
	<integer>0</integer>
	<key>IRCopDefaultLocalizaiton -&gt; Kill Reason</key>
	<integer>0</integer>
	<key>IRCopDefaultLocalizaiton -&gt; Shun Reason</key>
	<integer>0</integer>
	<key>InlineMediaCheckEverything</key>
	<integer>0</integer>
	<key>InlineMediaLimitToBasics</key>
	<integer>0</integer>
	<key>InlineMediaLimitBasicsToFiles</key>
	<integer>0</integer>
	<key>InlineMediaLimitInsecureContent</key>
	<integer>0</integer>
	<key>InlineMediaLimitNaughtyContent</key>
	<integer>0</integer>
	<key>InlineMediaLimitUnsafeContent</key>
	<integer>0</integer>
	<key>InlineMediaMaximumFilesize</key>
	<integer>0</integer>
	<key>InlineMediaMaximumHeight</key>
	<integer>0</integer>
	<key>InlineMediaScalingWidth</key>
	<integer>0</integer>
	<key>Internal Theme Settings Key-value Store -&gt; </key>
	<integer>1</integer>
	<key>InvertSidebarColors</key>
	<integer>0</integer>
	<key>IRC -&gt; Enable echo-message Capability</key>
	<integer>0</integer>
	<key>Keyboard -&gt; Command+W Key Action</key>
	<integer>0</integer>
	<key>Keyboard -&gt; Tab Key Action</key>
	<integer>0</integer>
	<key>Keyboard -&gt; Tab Key Completion Suffix</key>
	<integer>0</integer>
	<key>LogHighlights</key>
	<integer>0</integer>
	<key>LogTranscript</key>
	<integer>0</integer>
	<key>LogTranscriptDestinationSecurityBookmark_5</key>
	<integer>0</integer>
	<key>MemberListSortFavorsServerStaff</key>
	<integer>0</integer>
	<key>MemberListUpdatesUserInfoPopoverOnScroll</key>
	<integer>0</integer>
	<key>Main Input Text Field -&gt; Font Size</key>
	<integer>0</integer>
	<key>Main Input Text Field -&gt; Focus When Changing Views</key>
	<integer>0</integer>
	<key>MainWindowTransparencyLevel</key>
	<integer>0</integer>
	<key>NicknameHighlightMatchingType</key>
	<integer>0</integer>
	<key>Nickname Color Style Overrides (v2)</key>
	<integer>0</integer>
	<key>New item</key>
	<integer>0</integer>
	<key>NotificationType -&gt; </key>
	<integer>1</integer>
	<key>Notification Sound Is Muted</key>
	<integer>0</integer>
	<key>NSWindow Frame -&gt; Internal (v3) -&gt; </key>
	<integer>1</integer>
	<key>PostNotificationsWhileInFocus</key>
	<integer>0</integer>
	<key>PreferModernCiphers</key>
	<integer>0</integer>
	<key>Private Extension Store -&gt; Caffeine Extension -&gt; Prevent Sleep</key>
	<integer>0</integer>
	<key>Private Extension Store -&gt; Blowfish Encryption Extension -&gt; Encryption Mode of Operation -&gt; </key>
	<integer>1</integer>
	<key>Off-the-Record Messaging -&gt; Automatically Enable Service</key>
	<integer>0</integer>
	<key>Off-the-Record Messaging -&gt; Enable Encryption</key>
	<integer>0</integer>
	<key>Off-the-Record Messaging -&gt; Require Encryption</key>
	<integer>0</integer>
	<key>OnlySpeakNotificationsForSelection</key>
	<integer>0</integer>
	<key>OpenClickedLinksInBackgroundBrowser</key>
	<integer>0</integer>
	<key>Optimizations -&gt; Load History Lazily</key>
	<integer>0</integer>
	<key>ReceiveBetaUpdates</key>
	<integer>0</integer>
	<key>RejoinChannelOnLocalKick</key>
	<integer>0</integer>
	<key>ReloadScrollbackOnLaunch</key>
	<integer>0</integer>
	<key>RightToLeftTextFormatting</key>
	<integer>0</integer>
	<key>RemoveIRCTextFormatting</key>
	<integer>0</integer>
	<key>ReplyUnignoredExternalCTCPRequests</key>
	<integer>0</integer>
	<key>SaveInputHistoryPerSelection</key>
	<integer>0</integer>
	<key>ServerListDoubleClickConnectServer</key>
	<integer>0</integer>
	<key>ServerListDoubleClickDisconnectServer</key>
	<integer>0</integer>
	<key>ServerListDoubleClickJoinChannel</key>
	<integer>0</integer>
	<key>ServerListDoubleClickLeaveChannel</key>
	<integer>0</integer>
	<key>ServerListRetainsQueriesBetweenRestarts</key>
	<integer>0</integer>
	<key>Server List Unread Message Count Badge Colors -&gt; Highlight</key>
	<integer>0</integer>
	<key>Server Properties Window Sheet -&gt; Include Advanced Encodings</key>
	<integer>0</integer>
	<key>SetAwayOnScreenSleep</key>
	<integer>0</integer>
	<key>ScrollbackMaximumSavedLineCount</key>
	<integer>0</integer>
	<key>ScrollbackMaximumVisibleLineCount</key>
	<integer>0</integer>
	<key>SwipeMinimumLength</key>
	<integer>0</integer>
	<key>Smiley Converter Extension -&gt; Enable Service</key>
	<integer>0</integer>
	<key>Smiley Converter Extension -&gt; Enable Extra Emoticons</key>
	<integer>0</integer>
	<key>SUEnableAutomaticChecks</key>
	<integer>0</integer>
	<key>SUHasLaunchedBefore</key>
	<integer>0</integer>
	<key>SULastCheckTime</key>
	<integer>0</integer>
	<key>SUScheduledCheckInterval</key>
	<integer>0</integer>
	<key>SUSendProfileInfo</key>
	<integer>0</integer>
	<key>SUUpdateGroupIdentifier</key>
	<integer>0</integer>
	<key>System Profiler Extension -&gt; Feature Disabled -&gt; CPU Model</key>
	<integer>0</integer>
	<key>System Profiler Extension -&gt; Feature Disabled -&gt; GPU Model</key>
	<integer>0</integer>
	<key>System Profiler Extension -&gt; Feature Disabled -&gt; Disk Information</key>
	<integer>0</integer>
	<key>System Profiler Extension -&gt; Feature Disabled -&gt; Memory Information</key>
	<integer>0</integer>
	<key>System Profiler Extension -&gt; Feature Disabled -&gt; OS Version</key>
	<integer>0</integer>
	<key>System Profiler Extension -&gt; Feature Disabled -&gt; Screen Resolution</key>
	<integer>0</integer>
	<key>System Profiler Extension -&gt; Feature Disabled -&gt; System Uptime</key>
	<integer>0</integer>
	<key>Tab Completion -&gt; Completion Suffix Cut Forward Until Space</key>
	<integer>0</integer>
	<key>Tab Completion -&gt; Do Not Use Whitespace for Missing Completion Suffix</key>
	<integer>0</integer>
	<key>Text Input Prompt Suppression -&gt; </key>
	<integer>1</integer>
	<key>TextFieldAutomaticGrammarCheck</key>
	<integer>0</integer>
	<key>TextFieldAutomaticSpellCheck</key>
	<integer>0</integer>
	<key>TextFieldAutomaticSpellCorrection</key>
	<integer>0</integer>
	<key>TextFieldSmartCopyPaste</key>
	<integer>0</integer>
	<key>TextFieldSmartDashes</key>
	<integer>0</integer>
	<key>TextFieldDataDetectors</key>
	<integer>0</integer>
	<key>TextFieldSmartLinks</key>
	<integer>0</integer>
	<key>TextFieldSmartQuotes</key>
	<integer>0</integer>
	<key>TextFieldTextReplacement</key>
	<integer>0</integer>
	<key>GlasstualDeveloperEnvironment</key>
	<integer>0</integer>
	<key>Glasstual Chat Filter Extension -&gt; Filters</key>
	<integer>0</integer>
	<key>Theme -&gt; Channel Font Preference Enabled</key>
	<integer>0</integer>
	<key>Theme -&gt; Font Name</key>
	<integer>0</integer>
	<key>Theme -&gt; Font Name -&gt; Did Not Exist During Last Sync</key>
	<integer>0</integer>
	<key>Theme -&gt; Font Size</key>
	<integer>0</integer>
	<key>Theme -&gt; Name</key>
	<integer>0</integer>
	<key>Theme -&gt; Name -&gt; Did Not Exist During Last Sync</key>
	<integer>0</integer>
	<key>Theme -&gt; Nickname Format</key>
	<integer>0</integer>
	<key>Theme -&gt; Nickname Format Preference Enabled</key>
	<integer>0</integer>
	<key>Theme -&gt; Timestamp Format</key>
	<integer>0</integer>
	<key>Theme -&gt; Timestamp Format Preference Enabled</key>
	<integer>0</integer>
	<key>Theme -&gt; User Style Sheet Rules</key>
	<integer>0</integer>
	<key>TrackNicknameHighlightsOfLocalUser</key>
	<integer>0</integer>
	<key>TrackUserAwayStatusMaximumChannelSize</key>
	<integer>0</integer>
	<key>TPCPreferencesDictionaryVersion</key>
	<integer>0</integer>
	<key>TPCPreferences -&gt; Migration -&gt; Appearance (7011)</key>
	<integer>0</integer>
	<key>TPCPreferences -&gt; Migration -&gt; Sparkle (601)</key>
	<integer>0</integer>
	<key>TPCPreferences -&gt; Migration -&gt; Nickname Color Style Overrides</key>
	<integer>0</integer>
	<key>TPCPreferences -&gt; Migration -&gt; World Controller Migrated (600)</key>
	<integer>0</integer>
	<key>Sandbox Migration -&gt; Migrated Resources</key>
	<integer>0</integer>
	<key>Sandbox Migration -&gt; Installation Migrated</key>
	<integer>0</integer>
	<key>Sandbox Migration -&gt; User Acknowledged</key>
	<integer>0</integer>
	<key>Sandbox Migration -&gt; User Prefers Pruning Files</key>
	<integer>0</integer>
	<key>Sandbox Migration -&gt; All Extensions Pruned</key>
	<integer>0</integer>
	<key>Sandbox Migration -&gt; Imported Keys</key>
	<integer>0</integer>
	<key>THOPluginManager -&gt; Extras Installer Last Check for Update Payload</key>
	<integer>0</integer>
	<key>TVCLogControllerHistoricLogFileSavePath_v3</key>
	<integer>0</integer>
	<key>TXRunCount</key>
	<integer>0</integer>
	<key>TXRunTime</key>
	<integer>0</integer>
	<key>User List Mode Badge Colors -&gt; +a</key>
	<integer>0</integer>
	<key>User List Mode Badge Colors -&gt; +h</key>
	<integer>0</integer>
	<key>User List Mode Badge Colors -&gt; +o</key>
	<integer>0</integer>
	<key>User List Mode Badge Colors -&gt; +q</key>
	<integer>0</integer>
	<key>User List Mode Badge Colors -&gt; +v</key>
	<integer>0</integer>
	<key>User List Mode Badge Colors -&gt; +y</key>
	<integer>0</integer>
	<key>User List Mode Badge Colors -&gt; no mode</key>
	<integer>0</integer>
	<key>UserListDoubleClickAction</key>
	<integer>0</integer>
	<key>WebViewDoNotUsesCustomScrollers</key>
	<integer>0</integer>
	<key>WebViewPreviewLinks</key>
	<integer>0</integer>
	<key>WebViewProcessPoolSizeIsLimited</key>
	<integer>0</integer>
	<key>Wiki-style Link Parser Extension -&gt; Service Enabled</key>
	<integer>0</integer>
	<key>Wiki-style Link Parser Extension -&gt; Link Prefixes</key>
	<integer>0</integer>
	<key>Window -&gt; Main Window Is Fullscreen&apos;d</key>
	<integer>0</integer>
	<key>Window -&gt; Main Window -&gt; Member List is Visible</key>
	<integer>0</integer>
	<key>Window -&gt; Main Window -&gt; Server List is Visible</key>
	<integer>0</integer>
	<key>Window -&gt; Main Window -&gt; Server List Selection</key>
	<integer>0</integer>
	<key>Window -&gt; Main Window -&gt; Split Channel View Saved Frames</key>
	<integer>0</integer>
	<key>World Controller Client Configurations</key>
	<integer>0</integer>
</dict>
</plist>
