<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Appearance</key>
	<integer>0</integer>
	<key>ApplyCommandToAllConnections -&gt; amsg</key>
	<false/>
	<key>ApplyCommandToAllConnections -&gt; away</key>
	<false/>
	<key>ApplyCommandToAllConnections -&gt; clearall</key>
	<true/>
	<key>ApplyCommandToAllConnections -&gt; nick</key>
	<false/>
	<key>AutojoinChannelOnInvite</key>
	<false/>
	<key>AutojoinDelayBetweenChannelJoins</key>
	<real>2.2</real>
	<key>AutojoinDelayAfterIdentification</key>
	<real>0</real>
	<key>AutojoinMaximumChannelJoinCount</key>
	<integer>2</integer>
	<key>AutomaticallyAddScrollbackMarker</key>
	<true/>
	<key>AutomaticallyDisconnectForSleepMode</key>
	<true/>
	<key>AutomaticallyDetectHighlightSpam</key>
	<true/>
	<key>AutomaticallyFilterUnicodeTextSpam</key>
	<false/>
	<key>AutomaticallyReloadCustomThemesWhenTheyChange</key>
	<false/>
	<key>ChannelNavigationIsServerSpecific</key>
	<true/>
	<key>ChannelOperatorDefaultLocalization -&gt; Kick Reason</key>
	<string>Your behavior is not conducive to the desired environment.</string>
	<key>ChannelViewArrangement</key>
	<integer>0</integer>
	<key>CommandReturnSendsMessageAsAction</key>
	<true/>
	<key>ConfirmApplicationQuit</key>
	<true/>
	<key>ControlEnterSendsMessage</key>
	<false/>
	<key>ConversationTrackingIncludesUserModeSymbol</key>
	<false/>
	<key>CopyTextSelectionOnMouseUp</key>
	<false/>
	<key>DefaultBanCommandHostmaskFormat</key>
	<integer>1</integer>
	<key>DefaultIdentity -&gt; AwayNickname</key>
	<string></string>
	<key>DefaultIdentity -&gt; Nickname</key>
	<string>Guest</string>
	<key>DefaultIdentity -&gt; Realname</key>
	<string>Glasstual User</string>
	<key>DefaultIdentity -&gt; Username</key>
	<string>glasstual</string>
	<key>DestinationOfNonserverNotices</key>
	<integer>0</integer>
	<key>DisableRemoteNicknameColorHashing</key>
	<false/>
	<key>DisableSidebarTranslucency</key>
	<false/>
	<key>DisplayDockBadges</key>
	<true/>
	<key>DisplayEventInLogView -&gt; Date Changes</key>
	<true/>
	<key>DisplayEventInLogView -&gt; Inline Media</key>
	<false/>
	<key>DisplayEventInLogView -&gt; Join, Part, Quit</key>
	<true/>
	<key>DisplayPublicMessageCountInDockBadge</key>
	<false/>
	<key>DisplayServerMessageOfTheDayOnConnect</key>
	<true/>
	<key>DisplayUserListNoModeSymbol</key>
	<true/>
	<key>File Transfers -&gt; File Transfer IP Address Detection Method</key>
	<integer>1</integer>
	<key>File Transfers -&gt; File Transfer IP Address Detection Prefers 3rd-party Sources</key>
	<false/>
	<key>File Transfers -&gt; File Transfer Port Range End</key>
	<integer>1130</integer>
	<key>File Transfers -&gt; File Transfer Port Range Start</key>
	<integer>1115</integer>
	<key>File Transfers -&gt; File Transfer Request Reply Action</key>
	<integer>2</integer>
	<key>File Transfers -&gt; File Transfer Requests Use Reverse DCC</key>
	<false/>
	<key>File Transfers -&gt; Idle System Sleep Prevented During File Transfer</key>
	<true/>
	<key>FocusSelectionOnMessageCommandExecution</key>
	<true/>
	<key>IRCopDefaultLocalizaiton -&gt; G:Line Reason</key>
	<string>35d Your behavior is not conducive to the desired environment.</string>
	<key>IRCopDefaultLocalizaiton -&gt; Kill Reason</key>
	<string>Your behavior is not conducive to the desired environment.</string>
	<key>IRCopDefaultLocalizaiton -&gt; Shun Reason</key>
	<string>1d Shunned.</string>
	<key>InlineMediaCheckEverything</key>
	<false/>
	<key>InlineMediaLimitToBasics</key>
	<false/>
	<key>InlineMediaLimitBasicsToFiles</key>
	<false/>
	<key>InlineMediaLimitInsecureContent</key>
	<false/>
	<key>InlineMediaLimitNaughtyContent</key>
	<true/>
	<key>InlineMediaLimitUnsafeContent</key>
	<true/>
	<key>InlineMediaMaximumFilesize</key>
	<integer>2</integer>
	<key>InlineMediaMaximumHeight</key>
	<integer>0</integer>
	<key>InlineMediaScalingWidth</key>
	<integer>300</integer>
	<key>IRC -&gt; Enable echo-message Capability</key>
	<false/>
	<key>Keyboard -&gt; Command+W Key Action</key>
	<integer>0</integer>
	<key>Keyboard -&gt; Tab Key Action</key>
	<integer>0</integer>
	<key>LogHighlights</key>
	<true/>
	<key>LogTranscript</key>
	<false/>
	<key>MemberListSortFavorsServerStaff</key>
	<false/>
	<key>MemberListUpdatesUserInfoPopoverOnScroll</key>
	<true/>
	<key>Main Input Text Field -&gt; Font Size</key>
	<integer>1</integer>
	<key>Main Input Text Field -&gt; Focus When Changing Views</key>
	<true/>
	<key>NicknameHighlightMatchingType</key>
	<integer>1</integer>
	<key>NotificationType -&gt; Address Book Match -&gt; Enabled</key>
	<true/>
	<key>NotificationType -&gt; Failed File Transfer (Receiving) -&gt; Bounce Dock Icon</key>
	<true/>
	<key>NotificationType -&gt; Failed File Transfer (Receiving) -&gt; Enabled</key>
	<true/>
	<key>NotificationType -&gt; Failed File Transfer (Sending) -&gt; Bounce Dock Icon</key>
	<true/>
	<key>NotificationType -&gt; Failed File Transfer (Sending) -&gt; Enabled</key>
	<true/>
	<key>NotificationType -&gt; File Transfer Request -&gt; Bounce Dock Icon</key>
	<true/>
	<key>NotificationType -&gt; File Transfer Request -&gt; Enabled</key>
	<true/>
	<key>NotificationType -&gt; File Transfer Request -&gt; Sound</key>
	<string>Blow</string>
	<key>NotificationType -&gt; Highlight -&gt; Bounce Dock Icon</key>
	<true/>
	<key>NotificationType -&gt; Highlight -&gt; Enabled</key>
	<true/>
	<key>NotificationType -&gt; Highlight -&gt; Sound</key>
	<string>Glass</string>
	<key>NotificationType -&gt; Private Message (New) -&gt; Bounce Dock Icon</key>
	<true/>
	<key>NotificationType -&gt; Private Message (New) -&gt; Enabled</key>
	<true/>
	<key>NotificationType -&gt; Private Message (New) -&gt; Sound</key>
	<string>Submarine</string>
	<key>NotificationType -&gt; Private Message -&gt; Bounce Dock Icon</key>
	<true/>
	<key>NotificationType -&gt; Private Message -&gt; Enabled</key>
	<true/>
	<key>NotificationType -&gt; Private Message -&gt; Sound</key>
	<string>Submarine</string>
	<key>NotificationType -&gt; Public Message -&gt; Speak Channel Name</key>
	<true/>
	<key>NotificationType -&gt; Public Message -&gt; Speak Nickname</key>
	<true/>
	<key>NotificationType -&gt; Successful File Transfer (Receiving) -&gt; Bounce Dock Icon</key>
	<true/>
	<key>NotificationType -&gt; Successful File Transfer (Receiving) -&gt; Enabled</key>
	<true/>
	<key>NotificationType -&gt; Successful File Transfer (Sending) -&gt; Bounce Dock Icon</key>
	<true/>
	<key>NotificationType -&gt; Successful File Transfer (Sending) -&gt; Enabled</key>
	<true/>
	<key>PostNotificationsWhileInFocus</key>
	<true/>
	<key>PreferModernCiphers</key>
	<false/>
	<key>Off-the-Record Messaging -&gt; Automatically Enable Service</key>
	<false/>
	<key>Off-the-Record Messaging -&gt; Enable Encryption</key>
	<true/>
	<key>Off-the-Record Messaging -&gt; Require Encryption</key>
	<false/>
	<key>OnlySpeakNotificationsForSelection</key>
	<true/>
	<key>OpenClickedLinksInBackgroundBrowser</key>
	<false/>
	<key>Optimizations -&gt; Load History Lazily</key>
	<true/>
	<key>ReceiveBetaUpdates</key>
	<false/>
	<key>RejoinChannelOnLocalKick</key>
	<false/>
	<key>ReloadScrollbackOnLaunch</key>
	<true/>
	<key>RightToLeftTextFormatting</key>
	<false/>
	<key>RemoveIRCTextFormatting</key>
	<false/>
	<key>ReplyUnignoredExternalCTCPRequests</key>
	<true/>
	<key>SaveInputHistoryPerSelection</key>
	<false/>
	<key>ServerListDoubleClickConnectServer</key>
	<false/>
	<key>ServerListDoubleClickDisconnectServer</key>
	<false/>
	<key>ServerListDoubleClickJoinChannel</key>
	<false/>
	<key>ServerListDoubleClickLeaveChannel</key>
	<false/>
	<key>ServerListRetainsQueriesBetweenRestarts</key>
	<false/>
	<key>SetAwayOnScreenSleep</key>
	<false/>
	<key>ScrollbackMaximumSavedLineCount</key>
	<real>15000</real>
	<key>ScrollbackMaximumVisibleLineCount</key>
	<integer>0</integer>
	<key>SwipeMinimumLength</key>
	<integer>30</integer>
	<key>Tab Completion -&gt; Completion Suffix Cut Forward Until Space</key>
	<false/>
	<key>Tab Completion -&gt; Do Not Use Whitespace for Missing Completion Suffix</key>
	<false/>
	<key>TextFieldAutomaticGrammarCheck</key>
	<true/>
	<key>TextFieldAutomaticSpellCheck</key>
	<true/>
	<key>TextFieldAutomaticSpellCorrection</key>
	<false/>
	<key>TextFieldSmartCopyPaste</key>
	<true/>
	<key>TextFieldSmartDashes</key>
	<false/>
	<key>TextFieldDataDetectors</key>
	<false/>
	<key>TextFieldSmartLinks</key>
	<false/>
	<key>TextFieldSmartQuotes</key>
	<false/>
	<key>TextFieldTextReplacement</key>
	<true/>
	<key>GlasstualDeveloperEnvironment</key>
	<false/>
	<key>Theme -&gt; Font Name</key>
	<string>.AppleSystemUIFont</string>
	<key>Theme -&gt; Font Size</key>
	<real>13</real>
	<key>Theme -&gt; Name</key>
	<string>resource:Simplified</string>
	<key>Theme -&gt; Nickname Format</key>
	<string>&lt;%@%n&gt;</string>
	<key>Theme -&gt; Timestamp Format</key>
	<string>%H:%M:%S</string>
	<key>TrackNicknameHighlightsOfLocalUser</key>
	<true/>
	<key>TrackUserAwayStatusMaximumChannelSize</key>
	<integer>300</integer>
	<key>User List Mode Badge Colors -&gt; +a</key>
	<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAcMC42MTI5OTk5NzU3IDAgMC4zNDcwMDAwMDI5ABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3fp2foaaxusLFAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAM4=</data>
	<key>User List Mode Badge Colors -&gt; +h</key>
	<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxApMC4wNjU5OTk5OTk2NCAwLjQ4ODAwMDAwNTUgMC4wNzQwMDAwMDA5NQAQAYAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36qrK6zvsfP0gAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADb</data>
	<key>User List Mode Badge Colors -&gt; +o</key>
	<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAlMC4zNTEwMDAwMTEgMC4xOTkwMDAwMDEgMC42MDkwMDAwMjcyABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3fqaoqq+6w8vOAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAANc=</data>
	<key>User List Mode Badge Colors -&gt; +q</key>
	<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAQMC43MjYwMDAwMTEgMCAwABABgALSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3fpGTlZqlrra5AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAMI=</data>
	<key>User List Mode Badge Colors -&gt; +v</key>
	<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAmMC4xOTkwMDAwMDEgMC40Nzk5OTk5ODkzIDAuNjA5MDAwMDI3MgAQAYAC0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohYYWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWRqd36nqauwu8TMzwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADY</data>
	<key>User List Mode Badge Colors -&gt; +y</key>
	<data>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVOU1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAnMC42MzIwMDAwMjkxIDAuMzM1MDAwMDA4MyAwLjIyNTk5OTk5NjEAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+qKqssbzFzdAAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA2Q==</data>
	<key>UserListDoubleClickAction</key>
	<integer>200</integer>
	<key>WebViewDoNotUsesCustomScrollers</key>
	<false/>
	<key>WebViewPreviewLinks</key>
	<false/>
	<key>WebViewProcessPoolSizeIsLimited</key>
	<true/>
</dict>
</plist>
