root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cc,cpp,h,m,mm,swift,sh,pbxproj}]
indent_style = tab
indent_size = 4
tab_width = 4

[*.{css,js,json,yaml,yml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{plist,strings,xib,xml}]
indent_style = unset
indent_size = unset
