
<span class="inlineHTML {{classAttribute}}" id="inlineMedia-{{uniqueIdentifier}}">
	<span class="closeButton" href="#" data-media-id="{{uniqueIdentifier}}" onclick="_ICMInlineHTML.hideOnClickEvent(event);">×</span>

	<span class="content">
		{{{unescapedHTML}}}
	</span>
</span>
